{% extends "base.html" %}
{% load static %}
{% load markdown_extras %}

{% block meta %}
<title>{% if object.has_plural_title %}Are{% else %}Is{% endif %} {{ object.name }} Keto Friendly? | Is it Keto</title>
<meta name="description" content="{{ object.short_description|truncatechars:160 }}" />
<meta name="keywords" content="Keto, {{ object.name }}, Keto-friendly, Ketogenic diet" />
<meta name="robots" content="index, follow" />
<link rel="canonical" href="https://{{ request.get_host }}{{ request.path }}" />

<meta property="og:type" content="article" />
<meta property="og:title" content="{% if object.has_plural_title %}Are{% else %}Is{% endif %} {{ object.name }} Keto Friendly? | Is it Keto" />
<meta property="og:url" content="https://{{ request.get_host }}{{ request.path }}" />
<meta property="og:description" content="{{ object.short_description|truncatechars:200 }}" />
<meta property="og:image" content="{% get_media_prefix %}{{ object.image }}" />
<meta property="og:locale" content="en_US" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:creator" content="@rasulkireev" />
<meta name="twitter:site" content="@rasulkireev" />
<meta name="twitter:title" content="{% if object.has_plural_title %}Are{% else %}Is{% endif %} {{ object.name }} Keto Friendly? | Is it Keto" />
<meta name="twitter:description" content="{{ object.short_description|truncatechars:200 }}" />
<meta name="twitter:image" content="{% get_media_prefix %}{{ object.image }}" />
{% endblock meta %}

{% block content %}
<div class="px-4 py-12 mx-auto max-w-4xl sm:px-6 lg:px-8">
  {% include "components/breadcrumbs.html" with object=object %}
  {% include "components/display-ad.html" %}

  <h1 class="my-8 text-4xl font-extrabold text-center text-gray-900 sm:text-6xl">
    {% if object.has_plural_title %}Are{% else %}Is{% endif %} {{ object.name }} Keto Friendly?
  </h1>

  <div class="overflow-hidden">
    <div class="flex justify-center mb-8">
      <div class="h-64 sm:h-96">
        {% if object.compressed_ai_generated_image %}
          <img
            src="{% get_media_prefix %}{{ object.compressed_ai_generated_image }}"
            loading="lazy"
            alt="{{ object.name }}"
            class="object-contain w-full h-full"
          >
        {% elif object.image %}
          <img
            src="{% get_media_prefix %}{{ object.image }}"
            loading="lazy"
            alt="{{ object.name }}"
            class="object-contain w-full h-full"
          >
        {% else %}
          <div class="flex justify-center items-center w-full h-full bg-gray-200">
            <span class="text-gray-500">No image available</span>
          </div>
        {% endif %}
      </div>
    </div>
    <p class="mb-8 text-xl leading-8 text-gray-700">
      <span class="font-semibold text-gray-900">Answer:</span> {{ object.short_description }}
    </p>

    <div class="flex justify-center mb-8">
      <img
        src="{{ object.keto_meter_image_path }}"
        alt="{% if object.has_plural_title %}Are{% else %}Is{% endif %} {{ object.name }} Keto Friendly?"
        class="max-w-full h-auto"
        loading="lazy"
      >
    </div>

    <div class="mb-8 max-w-none prose prose-lg">
      {{ object.full_description | markdown | safe }}
    </div>
  </div>

  {% include "components/display-ad.html" %}
  {% include "components/newsletter.html" %}

  <div class="mt-16">
    <h2 class="mb-8 text-3xl font-bold text-gray-900">Other Keto Foods You May Enjoy</h2>

    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-4">
      {% for item in other_keto_foods %}
        <div class="overflow-hidden bg-white rounded-lg border shadow-md transition-transform duration-300 hover:scale-105">
          <a href="{% url 'product' item.slug %}" class="block pt-4">
            <div class="flex justify-center items-center h-48">
              <img src="{{ item.image_url }}" loading="lazy" alt="{{ item.name }}" class="object-contain max-w-full max-h-full">
            </div>
            <div class="p-4">
              <img src="{% static item.keto_meter_image %}" loading="lazy" alt="{% if item.has_plural_title %}Are{% else %}Is{% endif %} {{ item.name }} Keto Friendly?" class="mb-2 w-full">
              <h3 class="text-lg font-semibold text-center text-blue-600">
                <a href="{% url 'product' item.slug %}">{{ item.name }}</a>
              </h3>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}

{% block schema %}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://{{ request.get_host }}/{{ object.slug }}"
    },
    "image": "{% if object.image %}{{ object.image.url }}{% elif object.ai_generated_image %}{{ object.ai_generated_image.url }}{% endif %}",
    "datePublished": "{{ object.created_at }}",
    "dateModified": "{{ object.updated_at }}",
    "author": {
      "@type": "Organization",
      "name": "Is It Keto",
      "logo": {
        "@type": "ImageObject",
        "url": "{% static 'vendors/images/logo.png' %}"
      }
    },
    "publisher": {
      "@type": "Organization",
      "name": "Is It Keto",
      "logo": {
        "@type": "ImageObject",
        "url": "{% static 'vendors/images/logo.png' %}"
      }
    },
    "headline": "{% if object.has_plural_title %}Are{% else %}Is{% endif %} {{ object.name }} Keto Friendly?",
    "description": "Answer: {{ object.short_description }}"
  }
</script>
{% endblock schema %}
