{% extends "base.html" %}
{% load static %}
{% load markdown_extras %}

{% block content %}
<div class="px-4 py-12 mx-auto max-w-4xl sm:px-6 lg:px-8">
  {% include "components/breadcrumbs.html" with object=object %}

  <h1 class="my-8 text-4xl font-extrabold text-center text-gray-900 sm:text-6xl">
    {% if object.has_plural_title %}Are{% else %}Is{% endif %} {{ object.name }} Keto Friendly?
  </h1>

  <div class="overflow-hidden">
    <div class="flex justify-center mb-8">
      <div class="h-64 sm:h-96">
        <img
          src="{% get_media_prefix %}{{ object.image }}"
          loading="lazy"
          alt="{{ object.name }}"
          class="object-contain w-full h-full"
        >
      </div>
    </div>
    <p class="mb-8 text-xl leading-8 text-gray-700">
      <span class="font-semibold text-gray-900">Answer:</span> {{ object.short_description }}
    </p>

    <div class="flex justify-center mb-8">
      <img
        src="{{ object.keto_meter_image_path }}"
        alt="{% if object.has_plural_title %}Are{% else %}Is{% endif %} {{ object.name }} Keto Friendly?"
        class="max-w-full h-auto"
      >
    </div>

    <div class="mb-8 max-w-none prose prose-lg">
      {{ object.full_description | markdown | safe }}
    </div>
  </div>

  {% include "components/ads.html" %}

  <div class="mt-16">
    <h2 class="mb-8 text-3xl font-bold text-gray-900">Other Keto Foods You May Enjoy</h2>

    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-4">
      {% for item in related_keto_foods %}
        <div class="overflow-hidden bg-white rounded-lg border shadow-md transition-transform duration-300 hover:scale-105">
          <a href="{% url 'product' item.slug %}" class="block pt-4">
            <div class="flex justify-center items-center h-48">
              <img src="{{ item.image_url }}" loading="lazy" alt="{{ item.name }}" class="object-contain max-w-full max-h-full">
            </div>
            <div class="p-4">
              <img src="{% static item.keto_meter_image %}" alt="{% if item.has_plural_title %}Are{% else %}Is{% endif %} {{ item.name }} Keto Friendly?" class="mb-2 w-full">
              <h3 class="text-lg font-semibold text-center text-blue-600">
                <a href="{% url 'product' item.slug %}">{{ item.name }}</a>
              </h3>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
