<nav class="flex mb-4 text-sm font-medium text-gray-500" aria-label="Breadcrumb">
  <ol class="inline-flex items-center">
    <li class="prose">
      <a href="{% url 'products' %}">Foods</a>
    </li>
    <li class="inline-flex items-center prose">
      <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
      <a href="{% url 'product_category_list' object.category %}">{{ object.category | title }}</a>
    </li>
    <li aria-current="page" class="inline-flex items-center prose">
      <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
      <span>{{ object.name }}</span>
    </li>
  </ol>
</nav>
