<!-- djlint:off -->
<div class="hidden items-center mx-auto my-2 md:block">
  <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-8603686157288268"
      data-ad-slot="1316100722"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
</div>

<div class="block mx-auto my-2 md:hidden">
  <ins class="adsbygoogle"
       style="width:728px;height:90px"
       data-ad-client="ca-pub-8603686157288268"
       data-ad-slot="6806835207"></ins>
</div>

<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- djlint:on -->
