<!-- djlint:off -->
 <ins class="hidden mx-auto mb-4 md:block adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8603686157288268"
     data-ad-slot="1316100722"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>

<ins class="block adsbygoogle md:hidden"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-8603686157288268"
     data-ad-slot="6806835207"></ins>

<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- djlint:on -->
