<!-- djlint:off -->
<div class="hidden items-center md:mx-auto md:my-2 md:flex md:justify-center">
  <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-8603686157288268"
      data-ad-slot="1316100722"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
</div>

<div class="flex justify-center items-center my-2 md:my-0 md:hidden">
  <ins class="adsbygoogle"
       style="width:728px;height:90px"
       data-ad-client="ca-pub-8603686157288268"
       data-ad-slot="6806835207"></ins>
</div>

<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- djlint:on -->
