{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container px-4 py-8 mx-auto">
    <h1 class="mb-8 text-3xl font-bold text-center text-gray-800">Browse Foods by Category</h1>

    <div class="space-y-12">
        {% for category_data in categories %}
            <div class="overflow-hidden">
                <h2 class="text-2xl font-semibold text-blue-600 hover:text-blue-800">
                  <a href="{% url 'product_category_list' category_data.category %}">{{ category_data.category | title }}</a>
                </h2>
                <div class="grid grid-cols-1 gap-6 p-6 md:grid-cols-2 lg:grid-cols-4">
                    {% for product in category_data.products %}
                        {% include "components/product_card.html" with product=product %}
                    {% empty %}
                        <p class="col-span-full italic text-gray-500">No products in this category.</p>
                    {% endfor %}
                </div>
                <div class="flex justify-center">
                  <a class="px-3 py-2 text-lg font-semibold text-blue-600 bg-blue-50 rounded-md shadow-sm hover:bg-blue-100" href="{% url 'product_category_list' category_data.category %}">View More</a>
                </div>
            </div>
        {% empty %}
            <p class="italic text-center text-gray-500">No categories found.</p>
        {% endfor %}
    </div>
</div>
{% endblock content %}
