{% extends "base.html" %}
{% load static %}

{% block meta %}
<title>Keto-Friendly Foods by Category | Is it Keto</title>
<meta name="description" content="Keto Friendly Foods by Category" />
<meta name="keywords" content="Keto, Keto diet, Keto food categories, Keto-friendly foods" />
<meta name="robots" content="index, follow" />
<link rel="canonical" href="https://{{ request.get_host }}{{ request.path }}" />

<meta property="og:type" content="website" />
<meta property="og:title" content="Keto-Friendly Foods by Category | Is it Keto" />
<meta property="og:url" content="https://{{ request.get_host }}{{ request.path }}" />
<meta property="og:description" content="Keto Friendly Foods by Category" />
<meta property="og:image" content="https://{{ request.get_host }}{% static 'vendors/images/logo.png' %}" />
<meta property="og:locale" content="en_US" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="@rasulkireev" />
<meta name="twitter:site" content="@rasulkireev" />
<meta name="twitter:title" content="Keto-Friendly Foods by Category | Is it Keto" />
<meta name="twitter:description" content="Keto Friendly Foods by Category" />
<meta name="twitter:image" content="https://{{ request.get_host }}{% static 'vendors/images/logo.png' %}" />
{% endblock meta %}

{% block content %}
<div class="container px-4 py-8 mx-auto">
    <h1 class="mb-8 text-3xl font-bold text-center text-gray-800">Browse Foods by Category</h1>

    {% include "components/ads.html" %}

    <div class="space-y-12">
        {% for category_data in categories %}
            <div class="overflow-hidden">
                <h2 class="text-2xl font-semibold text-blue-600 hover:text-blue-800">
                  <a href="{% url 'product_category_list' category_data.category %}">{{ category_data.category | title }}</a>
                </h2>
                <div class="grid grid-cols-1 gap-6 p-6 md:grid-cols-2 lg:grid-cols-4">
                    {% for product in category_data.products %}
                        {% include "components/product_card.html" with product=product %}
                    {% empty %}
                        <p class="col-span-full italic text-gray-500">No products in this category.</p>
                    {% endfor %}
                </div>
                <div class="flex justify-center">
                  <a class="px-3 py-2 text-lg font-semibold text-blue-600 bg-blue-50 rounded-md shadow-sm hover:bg-blue-100" href="{% url 'product_category_list' category_data.category %}">View More</a>
                </div>
            </div>
        {% empty %}
            <p class="italic text-center text-gray-500">No categories found.</p>
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block schema %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "CollectionPage",
  "mainEntity": {
    "@type": "ItemList",
    "itemListElement": [
      {% for category_data in categories %}
      {
        "@type": "ListItem",
        "position": {{ forloop.counter }},
        "name": "{{ category_data.category|title }}",
        "url": "{% url 'product_category_list' category_data.category %}",
        "item": {
          "@type": "ItemList",
          "itemListElement": [
            {% for product in category_data.products %}
            {
              "@type": "ListItem",
              "position": {{ forloop.counter }},
              "name": "{{ product.name }}",
              "url": "{% url 'product' product.slug %}"
            }{% if not forloop.last %},{% endif %}
            {% endfor %}
          ]
        }
      }{% if not forloop.last %},{% endif %}
      {% endfor %}
    ]
  },
  "name": "Keto Friendly Foods by Category",
  "description": "Explore our collection of food categories and products to determine their keto-friendliness.",
  "url": "https://{{ request.get_host }}{{ request.path }}",
  "publisher": {
    "@type": "Organization",
    "name": "Is It Keto",
    "logo": {
      "@type": "ImageObject",
      "url": "{% static 'vendors/favicon/logo.png' %}"
    }
  }
}
</script>
{% endblock schema %}
